<footer class="site-footer">
    <div class="container">
        <small class="pull-left">
            &copy;2016 All rights reserved. <a href="http://onlylemi.com/" target="_blank">Jianbin Qi</a>
        </small>
        <div class="pull-right">
            <a href="https://www.linkedin.com/in/onlylemi" target="_blank" title="Linkedin"><img
                    src="assets/images/socity/linkedin.png"></a>&nbsp;
            <a href="https://github.com/onlylemi" target="_blank" title="Github"><img
                    src="assets/images/socity/github.png"></a>&nbsp;
            <a href="https://vimeo.com/onlylemi" target="_blank" title="Vimeo"><img
                    src="assets/images/socity/vimeo.png"></a>&nbsp;
            <a href="https://www.facebook.com/onlylemi" target="_blank" title="Facebook"><img
                    src="assets/images/socity/facebook.png"></a>&nbsp;
            <a href="http://www.tudou.com/home/onlylemi" target="_blank" title="Tudou"><img
                    src="assets/images/socity/tudou.png"></a>&nbsp;
            <a href="http://weibo.com/xiaomi0623" target="_blank" title="Weibo"><img
                    src="assets/images/socity/weibo.png"></a>
        </div>
    </div>
</footer>