---
layout: nav
---

<div class="posts">
    <blockquote>
        <p><strong>感谢您的到来^^</strong></br>
        网站文章更新可能不会很频繁，一般会认真写一些精华的文章，不过我的学习笔记会一直更新，只要我学到的东西都会记录到上面。可以看 <a href="https://github.com/onlylemi/notes">Learning Notes</a> 学习笔记
            </br>
            </br>
            <strong>关于我，欢迎关注^^</strong>
            </br>
            邮箱：<a href="mailto:onlylemi.com@gmail.com">onlylemi.com(AT)gmail.com</a>
            </br>
            微博：<a href="http://weibo.com/xiaomi0623">@only乐秘</a>
            </br>
            GitHub：<a href="https://github.com/onlylemi">@onlylemi</a>
        </p>
    </blockquote>
    <h1>Writing...</h1>
    {% for post in site.posts limit: 15 %}
    <article class="post">
        <h5>
            {% include post/category.html %}

            {% include post/date.html %} - {% include post/title.html %}

            <p class="br-screen"></p>
            {% include post/tag.html %}
        </h5>
    </article>
    {% endfor %}
</div>