<!-- sidebar right -->
<div class="sidebar-right">
    <div class="js-scroll-top" title="Top">
	        <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-chevron-circle-up fa-stack-1x fa-inverse"></i>
            </span>
    </div>
    <div class="search-btn" title="Search" data-toggle="modal" data-target=".search-dialog">
	        <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-search fa-stack-1x fa-inverse"></i>
            </span>
    </div>
    <div class="donate-btn" title="donate" data-toggle="modal" data-target=".donate-dialog">
	        <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-jpy fa-stack-1x fa-inverse"></i>
            </span>
    </div>
    <div class="wechat-btn" title="Wechat" data-toggle="modal" data-target=".wechat-dialog">
            <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-wechat fa-stack-1x fa-inverse"></i>
            </span>
    </div>
    <div class="js-scroll-down" title="Bottom">
	        <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-chevron-circle-down fa-stack-1x fa-inverse"></i>
            </span>
    </div>
</div>