<div class="modal fade donate-dialog" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content text-center">
            <div class="modal-header text-center">
                <span class="fa-stack fa">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-jpy fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="modal-title text-center" id="myModalLabel">
                    如果我的文章对您有所帮助, 请打赏支持我，谢谢您~
                </h4>
            </div>
            <div class="modal-body text-center div-inline">
                <div class="modal-content modal-sm" >
                    <div class="modal-header text-center">
                        <span class="fa-stack fa">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-wechat fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>
                    <div class="modal-body text-center">
                        <img class="" src="{{ site.baseurl }}/assets/images/qrcode_wechat.jpg">
                    </div>
                </div>
                <div class="modal-content modal-sm">
                    <div class="modal-header text-center">
                        <span class="fa-stack fa">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa am-icon-cc-paypal fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>
                    <div class="modal-body text-center">
                        <img class="" src="{{ site.baseurl }}/assets/images/qrcode_wechat.jpg">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
