<div class="modal fade wechat-dialog" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <p class="h4 modal-title text-center" id="myModalLabel">欢迎关注我的微信公众平台</p>
            </div>
            <div class="modal-body text-center">
                <img class="" src="{{ site.baseurl }}/assets/images/qrcode_wechat.jpg">
            </div>
        </div>
    </div>
</div>
