---
layout: nav
title: PROJECTS
permalink: /projects/
---

<div class="posts">
    <h1>{{ page.title }}...</h1>
    {% for post in site.posts %}
    {% if post.category == 'projects' %}
    <article class="post">

        <h5><span class="font-icons fa fa-calendar"></span>: <em>{% include post/date.html %}</em></h5>
        <h5><span class="font-icons octicon octicon-flame"></span>: {% include post/title.html %}</strong>
            <span class="br-screen"></span>
            {% include post/tag.html %}
        </h5>
        {% if  post.repository %}
        <h5><strong><span class="font-icons fa fa-github"></span>: </strong><a class="btn btn-success btn-xs" href="https://github.com/{{ post.repository }}" target="_blank">{{ post.repository }}</a></h5>
        {% endif %}
        <h5><span class="font-icons fa fa-exclamation-circle"></span>: <strong>{{ post.excerpt }}</strong></h5>

    </article>
    {% endif %}
    {% endfor %}
</div>