{% if post.category == 'projects' %}
<a href="{{ site.baseurl }}/{{ post.category }}/" data-toggle="tooltip" data-placement="top" title="{{ post.category }}"><i class="font-icons octicon octicon-flame"></i></a>
{% elsif post.category == 'translate' %}
<a href="{{ site.baseurl }}/{{ post.category }}/" data-toggle="tooltip" data-placement="top" title="{{ post.category }}"><i class="font-icons fa fa-globe"></i></a>
{% else %}
<a href="{{ site.baseurl }}/{{ post.category }}/" data-toggle="tooltip" data-placement="top" title="{{ post.category }}"><i class="font-icons fa fa-rss"></i></a>
{% endif %}