<!DOCTYPE html>
<html>
<head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }}</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="canonical" href="{{ site.url }}{{ page.url }}" />
    
    <link rel="stylesheet" type="text/css" href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="//cdn.bootcss.com/octicons/3.5.0/octicons.css">
    <link rel="stylesheet" type="text/css" href="//cdn.bootcss.com/nprogress/0.2.0/nprogress.css"/>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/onlylemi.css"/>
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}"
          href="{{ site.baseurl }}/feed.xml"/>
    <link rel="shortcut icon" type="image/ico" href="{{ site.baseurl }}{{ site.avatar }}"/>

    <script type="text/javascript" src="//cdn.bootcss.com/jquery/2.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="//cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/assets/js/bootstrap3-typeahead.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/assets/js/toc.js" ></script>
    <script type="text/javascript" src="//cdn.bootcss.com/nprogress/0.2.0/nprogress.js" ></script>
    <script type="text/javascript" src="{{ site.baseurl }}/assets/js/onlylemi.js"></script>
</head>

<body data-spy="scroll" data-target=".toc" data-offset="20" style='display: none'>
<div id="wrapper-masthead" class="wrapper-masthead">
    <div class="container">
        <header class="masthead clearfix">
            <span class='nprogress-logo fade out'></span>
            <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.baseurl }}{{ site.avatar }}"/></a>

            <div class="site-info">
                <p class="site-name"><strong><a href="{{ site.baseurl }}/">{{ site.name }}</a></strong></p>
                <p class="site-description">{{ site.description }}</p>
            </div>

            <nav>
                <strong><a href="{{ site.baseurl }}/about/">About</a></strong>
                <strong><a href="https://github.com/onlylemi/notes">Notes</a></strong>
                <strong><a href="{{ site.baseurl }}/blog/">Blog</a></strong>
                <strong><a href="{{ site.baseurl }}/projects/">Projects</a></strong>
            </nav>
        </header>
    </div>
</div>

<div id="main" role="main" class="container">
    {{ content }}
</div>

{% include dialog/search.html %}

<!-- footer -->
<div id="wrapper-footer" class="wrapper-footer">
    <div class="container">
        <footer class="footer">
            {% include svg-icons.html %}
        </footer>
        <p>&copy;2016 <a href="{{ site.baseurl }}/" target="_blank">onlylemi</a>. All rights reserved.</p>
    </div>
</div>


{% include analytics.html %}
</body>
</html>
