---
layout: default
---

<article class="post">
    <h1 id="{{ page.title }}">{{ page.title }}</h1>
    <p><strong><span class="font-icons fa fa-calendar"></span>: <em>{{ page.date | date: "%b %d, %Y" }}</em></strong></p>
    <p><strong><span class="font-icons fa fa-tags"></span>:
        {% for tag in page.tags %}
        <a class="btn btn-default btn-xs tag-color-{{ tag }}" href="{{ site.baseurl }}/tags/#{{ tag }}"
           title="{{ tag }}">{{ tag }}</a>
        {% endfor %}</strong>
    </p>
    {% if  page.repository %}
    <p><strong><span class="font-icons octicon octicon-repo"></span>: </strong><a  class="btn btn-success btn-xs" href="https://github.com/{{ page.repository }}" target="_blank">{{ page.repository }}</a></p>
    {% endif %}
    <hr>
    <div class="entry">
        {{ content }}
    </div>

    <!--<div class="date">
      Written on {{ page.date | date: "%B %e, %Y" }}
    </div>-->

    <div id="comments" class="comments">
        <h2>Messages</h2>
        {% include disqus.html %}
    </div>

</article>

{% include post/sidebar.html %}
{% include post/contents.html %}