---
layout: default
---

<article class="post">
    <h1 id="{{ page.title }}">{{ page.title }}</h1>
    <p><strong><span class="font-icons fa fa-calendar"></span>: <em>{{ page.date | date: "%b %d, %Y" }}</em></strong></p>

    {% if  page.period %}
    <p><strong><span class="font-icons fa fa-clock-o"></span>: {{ page.period }}</strong></p>
    {% endif %}

    <p><strong><span class="font-icons fa fa-tags"></span>:
        {% for tag in page.tags %}
        <a class="btn btn-default btn-xs tag-color-{{ tag }}" href="{{ site.baseurl }}/tags/#{{ tag }}"
           title="{{ tag }}">{{ tag }}</a>
        {% endfor %}</strong>
    </p>
    {% if  page.repository %}
    <p><strong><span class="font-icons fa fa-github"></span>: <a  class="btn btn-success btn-xs" href="https://github.com/{{ page.repository }}" target="_blank">{{ page.repository }}</a></strong></p>
    {% endif %}
    {% if  page.organization-name %}
    <p><strong><span class="font-icons octicon octicon-location"></span>: <a  class="btn btn-info btn-xs" href="{{ page.organization-url }}" target="_blank">{{ page.organization-name }}</a></strong></p>
    {% endif %}
    <hr>
    <div class="entry">
        {{ content }}
    </div>
    <hr>
    <div class="text-center">
        <p><strong>如果我的文章对您有所帮助，就请我喝杯咖啡吧^^</strong></p>
        <div class="donate-btn" title="donate" data-toggle="modal" data-target=".donate-dialog">
	        <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-jpy fa-stack-1x fa-inverse"></i>
            </span>
        </div>
    </div>

    {% include dialog/donate.html %}

    <!--<div class="date">
      Written on {{ page.date | date: "%B %e, %Y" }}
    </div>-->

    <div id="comments" class="comments">
        <hr>
        <h2>Messages</h2>
        {% include duoshuo.html %}
    </div>

</article>

{% include post/sidebar.html %}
{% include post/contents.html %}